<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css" media="screen" title="no title">
  </head>
  <body>
    <div class="titleContainer">
      <h1>Search Twitter</h1>
      <h4>Analyze Tweets<h4>
    </div>
    <header>
      <nav>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    </header>
  </body>
</html>
