<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <iframe name="myFrame" style="display: none"></iframe>
    <form class="myForm" action="/myform/printtolog" method="post" target="myFrame">
      <input type="hidden" value="THIS PRINTED!!!!!!">
      <input type="submit"></button>
    </form>
    <div style="background-color: red; width: 300px; height: 1000px;">

    </div>
  </body>
</html>
