body {
  display: flex;
  background-color: rgba(224,223,255, .2);
}
.analysisFrame {
  width: 48%;
  height: 95vh;
}
.listContainer {
  width: 49%;
  height: 95vh;
  overflow-y: scroll;
}
.listContainerFavs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tweetContainer {
  display: flex;
  height: 75px;
  background-color: rgb(230,230,230);
  margin-bottom: 8px;
  box-shadow: -1px 4px 15px -8px rgba(0,0,0,0.37);
  border: .5px solid rgb(242,242,242);
}
.profileImg {
  min-height: 75px;
  min-width: 75px;
  background-size: 100% 100%;
  margin-right: 5px;
}
.userName {
  font-weight: bold;
  color: rgba(29,161,242, .99);
}
.tweetText {
  margin-top: 1px;
}
